# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
collections = db.list_collection_names()
collections

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [8]:
# Find the establishments with a hygiene score of 20
query = {'HygieneScore': 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
pprint(f"Number of establishments with HygieneScore of 20: {count}")
# Display the first document in the results using pprint

'Number of establishments with HygieneScore of 20: 0'

In [10]:
results = establishments.find(query)
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(results))
# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {len(df)}")
# Display the first 10 rows of the DataFrame
print(df.head(10))

Number of rows in the DataFrame: 0
Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [11]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query =  {
    'LocalAuthorityName': 'London', 
    'RatingValue': {'$gte': 4}  
}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
# Display the first document in the results using pprint
first_document = establishments.find_one(query)
pprint(first_document)

None

In [14]:
results = establishments.find(query)
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(results))
# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {len(df)}")
# Display the first 10 rows of the DataFrame
print(df.head(10))

Number of rows in the DataFrame: 0
Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [17]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.5074
longitude = -0.1278

query = {
    'RatingValue': 5, 
    'latitude': {'$gte': latitude - degree_search, '$lte': latitude + degree_search},
    'longitude': {'$gte': longitude - degree_search, '$lte': longitude + degree_search}
}
sort = [('HygieneScore', -1)]
limit = 10

# Print the results
results = establishments.find(query).sort(sort).limit(limit)
results

In [18]:
# Convert result to Pandas DataFrame
df = pd.DataFrame(list(results))

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [34]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results



pipeline = [
    {'$match': {'HygieneScore': 0}},
    {'$group': {
        '_id': '$LocalAuthorityName', 
        'count': {'$sum': 1} 
    }}, 
    {'$sort': {'count': -1}}  
]

result = establishments.aggregate(pipeline)
result_list = list(result)
print(f"Number of documents in the result: {len(result_list)}")
pprint(result_list[:10])

Number of documents in the result: 0
[]

In [38]:

# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

result_list = list(result)
df = pd.DataFrame(result_list)
print(f"Number of rows in the DataFrame: {len(df)}")
print(df.head(10))

Number of rows in the DataFrame: 0
Empty DataFrame
Columns: []
Index: []